* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #000;
    color: #FFF;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #FFF;
    text-decoration: underline;
}

.main {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #FFF;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    
}

.main::before {
    content: '';
    background-image: url('/assets/img/background-top.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 140vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.main::after {
    content: '';
    background-image: url('/assets/img/background-bottom.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 180vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: rotate(180deg);
}

@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before {
        width: 140vw;
        height: 140vh;
    }
    
    .main::after {
        width: 140vw;
        height: 140vh;
    }
}